@font-face {
  font-family: 'GeoSans';
  src: local('GeoSans'), url(./fonts/geosanslight.ttf) format('truetype');
}
body {
  margin: 0;
  font-family:GeoSans,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
}
.cardImage{
  height: 307px;
}
